.timesheetDayCard{
    background-color: aliceblue;
    display: flex;
    gap: 5rem;
    margin-bottom: 3rem;
}

.startTime{
    color: black;
}

.endTime{
    color: black;
}

.status{
    color: black;
}