@keyframes slidein {
    0% {
      transform: translateY(20%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

.main{
    padding-left: 5rem;
    padding-right: 5rem;
}

.main h1 {
    margin: 3%;
    margin-top: 5%;
    text-align: center;
}

.main button {
    background-color: #1e1e1e;
}

.main button:hover {
    box-shadow: none;
}

body{
    margin: 0;
    padding: 0;
}

.calendarContainer {
    border-radius: 15px;
    background-color: #101010;
    box-shadow: 0 0 15px black;
    margin-bottom: 3%;
    animation: slidein 1s ease-out;
}