.heading {
    margin-top: 0;
    padding: 3%;
    text-align: center;
    font-family: "Poppins", sans-serif;
    color: white;
}

body{
    margin: 0;
    padding: 0;
}

.mainContainer {
    margin-left: 5rem;
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weekContainer {
    width: 90%;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 3%;
}