.main{
    padding: 1rem;
}

body{
    margin: 0;
    padding: 0;
}

.filterTitle{
    color: aliceblue;
}


#chosenFilter{
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
}


.filterTitle{
    margin-right: 30px;
}

#select1{
    margin-right: 200px;
}


.header{
    text-align: center;
}


.select{
    border-radius: 5px;
}