
.mainContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-bottom: 2%;
}

.filterContainer {
    width: 85%;
    display: flex;
    justify-content: center;
    gap: 10%;
    margin-top: 3%;
    z-index: 0;
}

.cardContainer {
    width: 80%;
}

.filterContainer .filter {
    display: flex;
    align-items: center;
    gap: 40px;
}

.mainContainer h1 {
    margin-top: 5rem;
    text-transform: capitalize;
}


.select {
  outline: none;
  border: none;
  flex: 1;
  padding: 0 1em;
  color: #e3fa96;
  background-color: #535353;
  background-image: none;
  cursor: pointer;
  text-align: center;
  max-width: 40%;
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  border-radius: .7em;
  background-color: #535353;
  overflow: hidden;
}


