.Login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 5em;
    height: 100vh;
    gap: 5%;
    background-image: url("./Images/background2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
}