.TimesheetFormDay{
    display: inline;
}

.TimesheetFormDay, li{
    text-align: center;
}

.TimesheetFormContainer{
    background-color: rgb(212, 212, 212);
    border: solid 0.1em black;
    width: 15%;
    margin: 3%;
}