.TimesheetFormDay{
    display: inline;
}

.TimesheetFormDay, li{
    text-align: center;
}

.timeContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.TimesheetFormContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1a1a1a;
    color: white;
    box-shadow: 0 0 20px black;
    border-radius: 15px;
    padding: 2%;
    min-width: 15rem;
    font-family: "Poppins", sans-serif;
}


.buttons, .submitButton {
    cursor: pointer;
    background-color: #292929;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    border-radius: 10px;
    color: white;
    text-align: center;
    width: 100%;
    padding: 3%;
    margin: 10%;
}

.submitButton {
    margin-top: 15%;
    margin-bottom: 3%;
    padding: 6%;
    font-weight: 600;
}

.buttons:disabled, .submitButton:disabled {
    background-color: #292929;
    box-shadow: none;
    color: rgb(151, 151, 151);
    transition: none;
    transform: none;
    letter-spacing: 1.5px;
}

