.TimesheetFormDay{
    display: inline;
}

.TimesheetFormDay, li{
    text-align: center;
}

.TimesheetFormContainer{
    background-color: #d4e5fe;
    border-radius: 15px;
    padding: 2%;
    font-family: "Poppins", sans-serif;
    font-size: 12pt;
    color: #151515;
}

.buttons{
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    background: linear-gradient(to right, #012E6E 0%, #4d016e 100%);
    border-radius: 10px;
    color: white;
    text-align: center;
    width: 100%;
    padding: 3%;
}

.buttons:disabled {
    background: linear-gradient(to right, #012e6e94 0%, #4d016e92 100%);
    color: rgba(255, 255, 255, 0.707);
}

