.consultantDetailsContainer{
    display: flex;
    gap: 10%;
    width: 100%;
    align-items: center;
    text-align: center;
}

.userNameContainer{
    display: flex;
    flex-direction: column;
    gap: 10%;
}

.element{
    margin: 0;
}