@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.headerContainer{
    display: flex;
    flex-direction:column;
    width: 30%;
    position: absolute;
    left: 43%;
    top: 2%;
    font-family: 'Roboto', sans-serif;
}

.weekStarting{
    position: absolute;
    left: -5%;
    top: 60%;
    font-family: 'Roboto', sans-serif;
}