.timesheetCard{
    background-color: white;
    display: flex;
    margin-bottom: 5rem;
    justify-content: center;
    gap: 8rem;
    margin-top: 30px;
    border-radius: 15px;
}


.day, .workStart, .workEnd, .status{
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}

