/* ViewTimesheet.module.css */

.timesheetContainer {
  margin-left: 5rem;
  width: 80%;
  margin: 0 auto;
}

.timesheetTitle {
  text-align: center;
  margin-top: 0;
}

.timesheetBox {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
}

.timesheetBox p {
  margin-bottom: 10px;
}
