.cardContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #bebebe;
    padding: 1em; 
    border-radius: 15px;
    box-shadow: 0 0 20px black;
    margin: 1pc;
    height: 100%;
    width: 90%;
}

.userIcon{
    width: 3em;
}

.name{
    color: black;
    font-size: 16pt;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 0;
    width: 20rem;
}

.viewTimesheetBtn{
    width: 70%;
    background-color: #292929;
    box-shadow: rgb(0, 0, 0) 0 0 5px;
    border-radius: 10px;
    color: white;
    text-align: center;
    padding: 0.8em;
    font-size: 11pt;
    cursor: pointer;
    margin-top: 1rem;
}

.viewTimesheetBtn:hover {
    box-shadow: rgb(0, 0, 0) 0 0 5px;
    color: rgb(226, 254, 132);
}
