.pageContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 3rem;
    padding-bottom: 5rem;
    height: 100%;
}

.searchBox {
    width: 50%;
    height: 2.5pc;
    margin-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #323232;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 0 0 0 .15vw transparent;
    border: none;
    outline: none;
    border-radius: 50px;
    color: white;
}

.searchBox:hover {
    box-shadow: 0 0 5px #c3ff00;
}

.searchResults {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    width: 90%;
    min-height: 25em;
    height: 90%;
    gap: 3%;
    box-sizing: border-box;
}

.searchResultsContainer {
    display: flex;
    flex-direction: column;
    width: 75%;
    background-color: #1a1a1a;
    align-items: center;
    color: white;
    box-shadow: 0 0 20px black;
    border-radius: 15px;
    min-height: 100%;
    box-sizing: border-box;
    padding-bottom: 8rem;
}

.myConsultantsTitle {
    text-align: center;
    margin: 3%;
}

::-webkit-search-cancel-button {
    appearance: none;
    display: none;
}