html{
    background-image: none;
    background-color: #012E6E;
}


.LoginForm{
    width: 20%;
    text-align: center;
    border-radius: 0.4pc;
    position: relative;
    top: 17pc;
    right: 2.5pc;
}

<<<<<<< Updated upstream
ul{
=======

.LoginForm, ul{
>>>>>>> Stashed changes
    display: inline;
    list-style-type: none;
    background-color: white;
}

li{
    padding: 0.4pc;
    font-family: "Roboto", sans-serif;
}

figure, img{
    display: inline;
    width: 25%;
    position: relative;
    margin-left: 85px;

}

<<<<<<< Updated upstream
input{
    width: 10pc;
}

a{
=======

figure{
    background: none;
    width: 120px;
}


.input{
    width: 50%;
    height: 20px;
    background-color: #012E6E;
    color: white;
}

.selectInput{
    width: 48%;
    background-color: #012E6E;
    height: 1.75pc;
    border-radius: 0.25pc;
    color: white;
}

#forgotPass{
>>>>>>> Stashed changes
    text-decoration: none;
    color: #012E6E;
}

input[type=submit]{
    padding: 0.7pc 0.1pc;
    width: 100px;
    cursor: pointer;
    border: none;
    background-image: linear-gradient(to right, blue, purple);
    left: 20%;
    border-radius: 25px;
    color: white;
    height: 3rem;
    text-align: center;
    text-decoration: dashed;
    padding-top: 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

