.linksContainer {
    display: flex;
    gap: 3%;
    justify-content: center;
    margin-top: 10%;
}

.approveLink, .disapproveLink {
    width: 150px;
    text-align: center;
    font-size: 8pt;
    border-radius: 15px;
    padding: 3%;
}

.approveLink {
    background-color: #33b8649a;
}

.disapproveLink {
    background-color: #bc544b98;
}

.approveLink p, .disapproveLink p {
    color: #2e2828;
    margin: 0;
}