.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    width: 300px;
    padding: 5%;
    background: linear-gradient(160deg, #e0dddd 0%, #e5e6e4a4 100%);
    border-radius: 15px;
    box-shadow: 0 10px 10px -5px #979797;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.userIcon {
    height: 70px;
    width: 75px;
    padding: 5%;
}

.card p {
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: lighter;
}

.timesheetButton {
    width: 250px;
    text-decoration: none;
    text-align: center;
    background: linear-gradient(to right, #012E6E 0%, rgb(50, 22, 107) 100%);
    border-radius: 15px;
    padding: 4%;
    margin-top: 15px;
}

.timesheetButton p {
    color: rgb(205, 207, 209);
    font-size: 12pt;
    margin: 0;
}

.timesheetButton p:hover {
    color: white;
}