
.card {
    display: flex;
    align-items: center;
    height: 100vh;
}

.userAccountForm{
    text-align: center;
    width: 100%;
}

.userAccountForm label, .userAccountForm h2 {
    font-family: "Poppins", serif;
    color: #eaecf6a3;
}

.userAccountForm h2 {
    margin: 0;
    color: #c4a378;
}

.main_img {
    width: 50%;
    height: 100vh;
}

.input, .selectInput{
    width: 35%;
    height: 1.75pc;
    padding-left: 1.5%;
    background-color: #eaecf6a3;
    border: solid 1pt #ffffff3c;
    border-radius: 10px;
    color: #151515;
    margin: 0.5%;
}

.selectInput{
    width: 37%;
    height: 1.95pc;
    border-radius: 0.25pc;
    cursor: pointer;
}

::placeholder {
    color: #151515;
  }

input[type=submit]{
    width: 37%;
    margin-top: 5%;
    cursor: pointer;
    background: linear-gradient(to right, #c4a378 0%, #eaecf6a3 50%, #c4a378 100%);
    color: #070819;
    text-transform: uppercase;
    font-family: "Poppins", serif;
    letter-spacing: 2px;
    border: solid 1pt #070819;
    border-radius: 0.5pc;
    margin-bottom: 5%;
}

