
.card {
    display: flex;
    align-items: center;
}

.userAccountForm{
    text-align: center;
    width: 100%;
}

.userAccountForm label, .userAccountForm h2 {
    font-family: "Poppins", serif;
    color: #b4b29b;
}

.userAccountForm h2 {
    margin: 0;
    color: #7f4f33;
}

.main_img {
    width: 50%;
    height: auto;
    border-radius: 25px;
}

.input, .selectInput{
    width: 50%;
    height: 1.75pc;
    padding-left: 2%;
    background-color: #151515;
    border: solid 1pt #ffffff3c;
    border-radius: 10px;
    color: #b4b29b;
    margin: 0.5%;
}

.selectInput{
    width: 52%;
    height: 1.95pc;
    border-radius: 0.25pc;
}

input[type=submit]{
    width: 52%;
    margin-top: 5%;
    cursor: pointer;
    background: linear-gradient(to right, #2f1d13 0%, #151515 50%, #2f1d13 100%);
    color: #9F6442;
    text-transform: uppercase;
    font-family: "Poppins", serif;
    letter-spacing: 2px;
    border: solid 1pt #9F6442;
    border-radius: 0.5pc;
    margin-bottom: 5%;
}

