
.mbsc-windows-dark.mbsc-selected .mbsc-calendar-cell-inner {
    background: #bfff0015;
}

.mbsc-windows-dark.mbsc-calendar-today {
    color: #bfff00e4;
}

.mbsc-windows-dark.mbsc-eventcalendar {
    background: hsla(0, 0%, 6%, 0);
} 

.mbsc-windows-dark.mbsc-calendar-slide {
    background: #10101000;
}

.mbsc-windows.mbsc-calendar-width-md .mbsc-calendar-label-text {
    text-align: center;
}

.mbsc-calendar-labels {
    left: 12%;
    position: absolute;
    right: 12%;
}