@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body {
    margin: 0;
}

.mainContainer {
    background-color: #012E6E;
}

.heading {
    margin: 0;
    padding: 3%;
    text-align: center;
    font-family: "Poppins", sans-serif;
    color: white;
}

.cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    gap: 50px;
    padding: 5%;
    padding-top: 0;
    background: #012E6E;
    z-index: 1;
}